/*Style of the body*/
body {

  font-family: 'Lato', sans-serif;
}
/*Style of h1*/
h1 {
  font-family: 'Merriweather', sans-serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#CE1515 ;
  letter-spacing: normal;

}
/*Style of h2*/
h2 {
  font-family: 'Merriweather', sans-serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#CE1515 ;
  letter-spacing: normal;

}
/*Style of main*/
main {
  font-family: 'Merriweather', sans-serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#FFFFFF ;
  letter-spacing: normal;
  border-radius: 15px;
  border-style: ridge;
  border-color: #462E07 ;
  border-width: medium;
  color-text: #ff0000;


}




/*Style of center*/
center{
  background-color: #A97A2E;
  border-radius: 15px;
  border-style: ridge;
  border-width: medium;


}

/*Footer*/
footer {
  background-color: #A97A2E ;
  border-radius: 15px;
  border-style: ridge;
  border-color: #CE1515 ;
  border-width: medium;

}

/*elements*/
.element-1 {
  font-size: 1.5em;
  font-family: sans-serif;
}
/*elements1*/
.element-1 a {
  color: #b12500;
  text-decoration: underline;
}
/*elements2*/
.element-1 a:hover {
  color: #b12500;
  font-style: italic;
}
/*menu Item*/
.menu-item {
  margin: auto;
  padding: 0.5em;
  min-width: 100px;
  color: #008e49;
  background-color: #CE1515;
}

.menu-item:hover {
  background-color: #008e49;
  color: #b12500;
}
/*parent container*/
.parent-container {
  width: 100%;
  background-color: #003319;
}

.parent-container h2 {
  font-size: large;
  font-weight: 600;
  font-style: normal;
}
